# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/

# Storage & Temporary
temp_firmware/
SamsungMonster_Standalone/storage/backups/*
!SamsungMonster_Standalone/storage/backups/.gitkeep
SamsungMonster_Standalone/storage/firmware/*
!SamsungMonster_Standalone/storage/firmware/.gitkeep
provisioning_qr.png

# OS
.DS_Store
.directory
