[Desktop Entry]
Version=1.0
Type=Application
Name=Samsung Monster v10.1 Elite
Comment=Advanced Samsung Service Suite
Exec=/home/kaos/Área\ de\ trabalho/SamsungMonster_Standalone/start_monster.sh
Icon=system-software-install
Terminal=false
Categories=Development;Engineering;
Path=/home/kaos/Área de trabalho/SamsungMonster_Standalone
